@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    background-image: url(./assets/Images/bg-tablet-pattern2.png);
    background-size: 60%;
    @apply bg-no-repeat mobile:bg-[right_-1%] xs:bg-[right_-5%] md:bg-[right_-11%]
    lg:bg-[right_-21%] xl:bg-[right_-40%] 2xl:bg-[right_-60%] min-h-[100vh]
  }
  .contain-style1 {
    @apply mobile:px-[2%] xs:px-[2%] md:px-[4%] md3:px-[4%] lg:px-[9%] xl:px-[13%] 2xl:px-[18%];
  }
  .list-styles1 {
    @apply px-3 py-1 cursor-pointer rounded-full hover:bg-gray-300 transition duration-[200ms] text-center;
  }
  .Img-style-1 {
    @apply h-[150px] rounded-lg bg-[#1e13b8];
  }
  .num-style1 {
    @apply bg-customOrange rounded-full inline px-3.5 py-1 max-h-8 text-white mr-7;
  }
  .title-style1 {
    @apply text-lg font-bold;
  }
  .prg-style1 {
    @apply text-sm text-gray-600 mt-4;
  }
  .bt-style1, .bt-style2 {
    @apply px-[30px] py-2 rounded-full text-[17px] transition duration-200
  }
  .bt-style1 {
    @apply bg-customOrange hover:bg-[#c83c16] text-white;
  }
  .bt-style2 {
    @apply bg-white hover:bg-slate-300 text-customOrange;
  }
  .input-style1 {
    @apply bg-white px-[23px] py-1.5 rounded-full text-[17px] text-black text-center outline-none;
  }
  .icon-style {
    @apply text-base text-white cursor-pointer;
  }
  .dot {
    @apply h-[9px] w-[9px] bg-gray-400 rounded-full;
  }
  .logo {
    @apply flex gap-1.5;
  }
  .manageLogo {
    @apply flex items-center;
  }
  .manage {
    @apply text-current ml-2.5;
  }
}
